*{
  font-family: Arial, Helvetica, sans-serif;
  
}
body{
  background-color: #77b5c7;
}
.App {
  max-height:fit-content;
  background-color: #77b5c7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
span{
  font-family: cursive;
}
.displayUsers{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.displayUsers div{
  background-color: rgb(96, 96, 100);
border: 1px solid black;
border-radius: 10px;
box-shadow: 1px 1px 5px rgb(0, 0, 0);
padding: 20px; 
margin-bottom: 10px; 
text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


